* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* main css*/
:root {
  --color-primary: #191d2b;
  --color-secondary: #27ae60;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #f8f8f8;
  --color-grey1: #dbe1e8;
  --color-grey2: #b2becd;
  --color-grey3: #6c7983;
  --color-grey4: #454e56;
  --color-grey5: #2a2e35;
  --color-grey6: #12181b;
  --br-sm-2: 14px;
  --box-shadow1: 0 3px 15px rgba(0,0,0,0.3);
}

.light-mode {
  --color-primary: #00ABB3;
  --color-secondary: #3C4048;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #f8f8f8;
  --color-grey1: #dbe1e8;
  --color-grey2: #b2becd;
  --color-grey3: #6c7983;
  --color-grey4: #454e56;
  --color-grey5: #2a2e35;
  --color-grey6: #12181b;
}

body {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
}
@-webkit-keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controlls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controlls .activebtn {
  background-color: var(--color-secondary) !important;
  transition: all 0.4s ease-in-out;
}
.controlls .activebtn i, .controlls .activebtn img {
  color: var(--color-white) !important;
}
.controlls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey4);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow1);
}
.controlls .control i {
  font-size: 1.2rem;
  color: var(--color-grey2);
  pointer-events: none;
}

/* HEADER CONTENT*/
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
          clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}
.header-content .left-header .image {
  border-radius: var(--br-sm-2);
  height: 90%;
  width: 68%;
  margin-left: 4rem;
  border-color: var(--color-black);
  transition: all 0.4s ease-in-out;
}
.header-content .left-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(75%);
}
.header-content .left-header .image img:hover {
  filter: grayscale(0);
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 18rem;
}
.header-content .right-header .name {
  font-size: 3rem;
}
.header-content .right-header .name span {
  color: var(--color-secondary);
}
.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

/* about*/
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-container .right-about .about-item {
  border: 1px solid var(--color-grey5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 4px 15px rgb(0, 0, 0);
}
.about-container .right-about .about-item .abt-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.about-container .right-about .about-item .abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-secondary);
}
.about-container .right-about .about-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-grey1);
  letter-spacing: 2px;
}
.about-container .right-about .about-item .abt-text .small-text::before {
  content: "";
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  border-color: var(--color-grey5);
}
.about-container .left-about {
  padding-right: 5rem;
}
.about-container .left-about p {
  line-height: 2rem;
  padding: 1rem 0;
  color: var(--color-grey1);
}
.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

.myskill {
  text-transform: uppercase;
  font-size: 2.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}
.myskill::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  border-color: var(--color-grey5);
  transform: translateX(-50%);
}

/*Timeline*/
.stat-title {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
}
.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--color-grey5);
}
.timeline .timeline-item .tl-icon {
  position: absolute;
  background-color: var(--color-secondary);
  left: -60px;
  top: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline .timeline-item .tl-icon i {
  font-size: 1.3rem;
}
.timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  border-color: var(--color-grey5);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  background: rgba(39, 174, 95, 0.1725490196);
}
.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}
.timeline .timeline-item h5 span {
  color: var(--color-grey2);
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 1rem;
}

/* Skill circles*/
.lang {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.circleblock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  border-radius: 50%;
  background-color: #292929;
  box-shadow: 0 0 5px 3px #222121;
}

.box::before {
  position: absolute;
  content: "";
  width: calc(100% + 28px);
  height: calc(100% + 28px);
  border-radius: 50%;
  border: 1px solid #353535;
}

.box .number span {
  color: var(--color-grey);
}

.box .number .num {
  font-size: 35px;
  font-weight: bold;
}

.box .number .sub {
  font-size: 20px;
}

.box .title {
  font-size: 15px;
  color: var(--color-grey);
}

.dots {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 2s transform, 2s opacity ease;
}

.dots::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 5px;
  left: 50%;
  border-radius: 50%;
  background-color: var(--color-secondary);
  box-shadow: 0 0 5px 2px #585858;
  transform: translateX(-50%);
}

.svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: none;
  transform: rotate(-90deg);
}

.circle {
  stroke: var(--color-secondary);
  stroke-width: 4px;
  stroke-dasharray: 503;
  stroke-dashoffset: 503;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: 2s stroke-dashoffset;
}

.titlelang {
  font-size: 20px;
}

/*Skills*/
.portfolio-text {
  padding: 2rem 0;
  text-align: center;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.portfolios .portfolio-item {
  position: relative;
}
.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0 1rem;
}
.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--color-white);
}
.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--color-primary);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

/*independent content*/
.btn-con {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-items: center;
  align-self: flex-start;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  align-self: flex-start;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  border-color: var(--color-secondary);
}

.main-btn:hover {
  background-color: var(--color-secondary);
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4rem;
}
.main-title h2 span.bg-text {
  color: var(--color-secondary);
}
.main-title h2 span.bg-text .bg-text {
  color: var(--color-secondary);
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey5);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}

.contact-content-conteiner {
  display: flex;
  padding-top: 3.5rem;
}
.contact-content-conteiner .left-contact {
  flex: 2;
}
.contact-content-conteiner .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.contact-content-conteiner .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-conteiner .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-content-conteiner .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-content-conteiner .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-content-conteiner .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.contact-content-conteiner .left-contact .contact-icon {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}
.contact-content-conteiner .left-contact .contact-icon a {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-grey5);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}
.contact-content-conteiner .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}
.contact-content-conteiner .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}
.contact-content-conteiner .left-contact .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.contact-content-conteiner .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-conteiner .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-conteiner .right-contact .input-control input, .contact-content-conteiner .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}
.contact-content-conteiner .right-contact .i-c-2 {
  display: flex;
}
.contact-content-conteiner .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}
.contact-content-conteiner .right-contact .submit-btn {
  display: flex;
  justify-content: space-between;
}
.contact-content-conteiner .right-contact .main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-items: center;
  align-self: flex-start;
  overflow: hidden;
}
.contact-content-conteiner .right-contact .main-btn .btn-text {
  padding: 0 2rem;
}
.contact-content-conteiner .right-contact .main-btn .btn-icon {
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  align-self: flex-start;
  border-radius: 50%;
  padding: 1rem;
}
.contact-content-conteiner .right-contact .main-btn .btn-icon::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.contact-content-conteiner .right-contact .main-btn .btn-icon::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.contact-content-conteiner .right-contact .main-btn .btn-icon:hover::before {
  width: 100%;
  height: 100%;
  border-color: var(--color-secondary);
}
.contact-content-conteiner .right-contact .main-btn:hover {
  background-color: var(--color-secondary);
}

.theme-btn {
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-grey4);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-3px);
}
.theme-btn i {
  font-size: 1.4rem;
  color: var(--color-grey2);
  pointer-events: none;
}

button {
  background-color: var(--color-primary);
  color: var(--color-white);
  overflow: hidden;
  padding: 0 10px;
}
button .sendmsg {
  padding-left: 20px;
}

@media screen and (max-width: 650px) {
  header {
    padding: 0px;
  }
  header .right-header {
    padding: 0 !important;
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .right-header {
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .right-about {
    padding-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .about-container .left-about p {
    padding-left: 0;
  }
  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .lang {
    justify-items: center;
    justify-content: center;
    display: grid;
    padding: 0;
    grid-template-columns: 1fr;
  }
  .section {
    padding: 2rem 2.5rem !important;
  }
  .main-title h2 {
    font-size: 3rem;
  }
  .main-title h2 span {
    font-size: 2.5rem;
  }
  .main-title h2 .bg-text {
    font-size: 3rem;
  }
  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .contact-content-conteiner {
    flex-direction: column;
  }
  .contact-content-conteiner .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-conteiner .left-contact .contact-info {
    font-size: 12px !important;
  }
  .contact-content-conteiner .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-conteiner .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .tl-icon {
    display: none;
  }
  .controlls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey5);
  }
  .controlls .control {
    margin: 0.8rem 2rem;
    min-width: 55px;
    min-height: 45px;
  }
}
@media screen and (max-widht: 1000px) {
  .contact-item {
    font-size: 12px !important;
  }
}
@media (max-widht: 1000px) {
  .contact-info {
    font-size: 12px;
  }
}
@media (max-widht: 1432px) {
  header {
    padding: 0 !important;
  }
  .lang {
    justify-items: center;
    justify-content: center;
    display: grid !important;
    padding: 0;
    grid-template-columns: 1fr;
  }
  .section {
    padding: 7rem 11rem;
  }
  .contact-content-conteiner {
    flex-direction: column;
  }
  .contact-content-conteiner .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-conteiner .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-conteiner .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
}
@media (max-widht: 1070px) {
  .left-contact .contact-item {
    font-size: 12px;
  }
  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .right-about {
    padding-top: 2.5rem;
  }
  .main-title h2 {
    font-size: 4rem;
  }
  .main-title h2 span {
    font-size: 4rem;
  }
  .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
}
@media screen and (max-widht: 1085px) {
  .right-about {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 2rem;
  }
}
@media (min-width: 650px) {
  .about .left-contact {
    display: flex !important;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .lang {
    display: grid;
    justify-content: center;
  }
  .contact-item {
    font-size: 12px;
  }
}
@media (max-width: 1510px) {
  .contact-item {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */